<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-offset-1">
        <h4>Address</h4>
        <p>
          Working Together Programme
          <br/>Woodside
          <br/>Moorgate Road
          <br/>Rotherham
          <br>S60 2UD
        </p>
      </div>
      <!-- /col-lg-4 -->

      <div class="col-lg-2">
        <h4>Sitemap</h4>
        <p>
          <a href="/">Home</a>
          <br/>
          <a href="/about">About</a>
          <br/>
          <a href="workstreams">Workstreams</a>
          <br/>
          <a href="/news">News</a>
          <br/>
          <a href="/contact">Contact</a>
        </p>
      </div>
      <!-- /col-lg-4 -->

      
      <!-- /col-lg-4 -->

      <div class="col-lg-3">
        <h4>About the Working Together Programme</h4>
        <p>The Working Together Programme is partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire. For more information, or if you are interested in getting involved, please contact <a href="mailto:janettewatkins@nhs.net">Janette Watkins (Programme
Manager) via email</a> or telephone 01709 424 534.
        </p>
      </div>
      <!-- /col-lg-3 -->

      <div class="col-lg-2">
        <p>
          <img class="" src="/img/logo.png" alt="NHS logo">
        </p>

        <p>&copy;Working Together. A Partnership of NHS Trusts in South Yorkshire, Mid Yorkshire and North Derbyshire</p>
      </div>



    </div>
  </div>
</div>

</html>
