<html>

<head>
    <title>The page you were looking for doesn't exist (404)</title>
</head>

<body>
    <div class="dialog">
        <h1>404 Not Found</h1>
        <p>The page you were looking for doesn't exist.</p>
    </div>
</body>

</html>
</style>
</head>

<body>
    <div class="dialog">
        <h1>404 Not Found</h1>
        <p>The page you were looking for doesn't exist.</p>
    </div>
</body>

</html>