{{>header}}

  <div class="container">
    <div class="dialog">
        <h1>404 Page Not Found</h1>
                <p class="lead">It looks like you are lost!</p>
        <p>Either the page you were looking for doesn't exist or something has gone wrong. <br>
        Either way, you can use the links above or below this this message to try another link.</p>
    </div>
 </div>
{{>footer}}