{{> header}}
              
<div class="container">
    <div class="row">

        <div class="col-md-9">
            <h1>{{title}}</h1>
            <p>Although experimental submarines had been built before, submarine design took off during the 19th century, and they were adopted by several navies. Submarines were first widely used during World War I (1914–1918), and now figure in many large
                navies. Military usage includes attacking enemy surface ships (merchant and military), submarines, aircraft carrier protection, blockade running, ballistic missile submarines as part of a nuclear strike force, reconnaissance, conventional
                land attack (for example using a cruise missile), and covert insertion of special forces. Civilian uses for submarines include marine science, salvage, exploration and facility inspection/maintenance. Submarines can also be modified to
                perform more specialized functions such as search-and-rescue missions or undersea cable repair. Submarines are also used in tourism, and for undersea archaeology.</p>
            <blockquote>
                Although experimental submarines had been built before, submarine design took off during the 19th century, and they were adopted by several navies. Submarines were first widely used during World War I (1914–1918), and now figure in many large navies.
                Military usage includes attacking enemy surface ships (merchant and military), submarines, aircraft carrier protection, blockade running, ballistic missile submarines as part of a nuclear strike force, reconnaissance, conventional land
                attack (for example using a cruise missile), and covert insertion
            </blockquote>
            <p>Words words words about stuyff that soihfeif shf dsfh fhdf</p>

        </div>
        <div class="col-md-3">
            <h1>Sidebar Hello!</h1>
        </div>



    </div>
</div>


{{> footer}}
