
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>Address</h4>
					<p>
						Working Together Programme<br/>
						Woodside <br/>
						Moorgate Road <br/>
            Rotherham <br>
            S60 2UD
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-4">
					<h4>Sitemap</h4>
					<p>
						<a href="/">Home</a><br/>
						<a href="/about">About</a><br/>
            <a href="/contact">Contact</a><br/>
            <a href="/team">Team</a><br/>
						<a href="/news">News</a>
					</p>
				</div><!-- /col-lg-4 -->
				
				<div class="col-lg-3">
					<h4>About the Working Together Programme</h4>
					<p>The Working Together Programme is partnership to deliver high quality, efficient patient care for 
            South Yorkshire, Mid Yorkshire and North Derbyshire. For more information, or if you are
interested in getting involved, please contact <a href="mailto:janettewatkins@nhs.net">Janette Watkins (Programme
Manager) via email</a> or telephone 01709 424 534. 
</p>
				</div><!-- /col-lg-3 -->
			
			</div>
		
		</div>
	</div>
</html>

