
<div id="footer">
        <div class="container text-center">
            <div>© 2014 Company, Inc.</div>
            <div><strong>Hackathon Starter</strong> Project · Created by<a href="http://sahatyalkabov.com"> Sahat Yalkabov</a>
            </div>
            <div>Code licensed under&nbsp;<a href="http://opensource.org/licenses/mit-license.html">MIT License</a>
            </div>
            <div><a href="https://github.com/sahat/hackathon-starter">GitHub Project</a> ·&nbsp;<a href="https://github.com/sahat/hackathon-starter/issues">Issues</a>
            </div>
        </div>
    </div>
</html>