{{>header}}

  <div class="container centered">
  <div class="brandhead lighttext">
    <h1 class="">Working Together</h1>
    <p class="lead">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
    <p><a class="btn btn-info btn-lg" role="button">Learn more &raquo;</a>
    </p>
  </div>
</div>

<div id="brandwrap">

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">


      <!--[if lt IE 9]>
        <div class="col-md-3 centered col-md-offset-1">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4 centered">
        <!-- <![endif]-->
        <img class="" src="/img/3.png" alt="Working together logo">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-default btn-lg" href="#" role="button">Read more &raquo;</a>
        </p>
      </div>

      <!--[if lt IE 9]>
        <div class="col-md-3 centered">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4 centered">
        <!-- <![endif]-->
        <img class="" src="/img/2.png" alt="Working together logo">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-default btn-lg" href="http://eepurl.com/TgFpT" role="button">Sign up &raquo;</a>
        </p>
      </div>

      <!--[if lt IE 9]>
        <div class="col-md-3 centered">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4 centered">
        <!-- <![endif]-->
        <img class="" src="/img/2.png" alt="Working together logo">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-default btn-lg" href="http://eepurl.com/TgFpT" role="button">Sign up &raquo;</a>
        </p>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Working Together</h1>
        <p>Seven hospital Trusts in South Yorkshire, Mid Yorkshire and North Derbyshire have formed a partnership called ‘Working Together’ to share best practice and improve patient care.</p>
        <p>Working together on a number of common issues will allow all the Trusts to deliver benefits that they would not achieve by working on their own. The aims of this innovative partnership are to strengthen each organisation’s ability to:</p>
        <ul>
          <li>Deliver safe, sustainable and local services to people in the most appropriate care setting</li>
          <li>Meet commissioner intentions to improve the health and wellbeing of the people being served in the most efficient and effective way</li>
          <li>Make collective efficiencies where the potential exists</li>
        </ul>
        <p>This work builds on earlier successes where partnering with other Trusts has already helped to improve care, such as for patients who have suffered a heart attack, stroke, patients with cancer and very sick children.</p>
        <p class="center span7 text-center"><a class="btn btn-info btn-lg" href="/about">Find out more</a>


          <br>

          <!--[if lt IE 9]>
             <br>
            <![endif]-->

      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-12">
        <blockquote>
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery and efficiency in clinical and non-clinical areas. We have to consider and implement change if we are going to ensure we continue to provide our patients with high quality care, in the most appropriate location and as efficiently as possible.</p>
          <footer><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Participating Trusts</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
        <p style="margin-left: 80px;">
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Barnsley Hospital NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Chesterfield Royal Hospital NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Doncaster and Bassetlaw Hospitals NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">The Mid Yorkshire Hospitals NHS Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">The Rotherham NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Sheffield Children’s NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Sheffield Teaching Hospitals NHS Foundation Trust</a>
          <br>
        </p>
        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>

      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-12">
        <blockquote>
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery and efficiency in clinical and non-clinical areas. We have to consider and implement change if we are going to ensure we continue to provide our patients with high quality care, in the most appropriate location and as efficiently as possible.</p>
          <footer><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>

      </div>
    </div>

    <hr class="featurette-divider">


  </div>

 {{>footer}}