{{>header}}

	<div id="brandwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="/img/working.png" alt="Working together logo">
					<h1>Working Together</h1>
					<p class="lead">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
				  <p><a class="btn btn-warning btn-lg" href="http://eepurl.com/TgFpT">Sign up to Newsletter</a></p>
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div>
      
      
        <div class="container-fluid">
          
                        <div class="row">
                          <div class="row">
  <div class="col-md-6 col-md-offset-3"><p class="lead">Seven hospital Trusts in South Yorkshire, Mid Yorkshire and
North Derbyshire have formed a partnership called ‘Working Together’
to share best practice and improve patient care.</p></div>
</div>
  <div class="col-xs-12 col-md-8"><p class="lead">Seven hospital Trusts in South Yorkshire, Mid Yorkshire and
North Derbyshire have formed a partnership called ‘Working Together’
to share best practice and improve patient care.</p></div>
  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>
        </div>

 {{>footer}}