{{>header}}

 <div class="centered">
  <div class="brandhead lighttext">
    <h1 class="lighttext">Working Together</h1>
    <p class="lead">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
    <p><a class="btn btn-doncaster btn-lg" role="button" href="/about">Learn more &raquo;</a>
    </p>
  </div>
</div>

<div id="brandwrap">

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">


      <!--[if lt IE 9]>
        <div class="col-md-3 centered col-md-offset-1">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4 centered">
        <!-- <![endif]-->
        <!-- <img class="img-thumbnail" src="/img/3.png" alt="Working together logo"> -->
        <h1>The Partnership</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-doncaster btn-lg" href="/programme" role="button">Read about the programme &raquo;</a>
        </p>
      </div>

      <!--[if lt IE 9]>
        <div class="col-md-3 centered">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4 centered">
        <!-- <![endif]-->
        <!-- <img class="img-thumbnail" src="/img/2.png" alt="Working together logo"> -->
        <h1>News and Reports</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-doncaster btn-lg" href="/news" role="button">Sign up for newsletter &raquo;</a>
        </p>
      </div>

      <!--[if lt IE 9]>
        <div class="col-md-3 centered">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4 centered">
        <!-- <![endif]-->
        <!--  <img class="img-thumbnail" src="/img/2.png" alt="Working together logo"> -->
        <h1>Workstreams</h1>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><a class="btn btn-doncaster btn-lg" href="/team" role="button">Meet the programme team &raquo;</a>
        </p>
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Participating Trusts</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <p style="margin-left: 80px;">
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Barnsley Hospital NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Chesterfield Royal Hospital NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Doncaster and Bassetlaw Hospitals NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">The Mid Yorkshire Hospitals NHS Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">The Rotherham NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Sheffield Children’s NHS Foundation Trust</a>
          <br>
          <img src="/img/1greendot.png" alt="Working together logo"><a href="#">Sheffield Teaching Hospitals NHS Foundation Trust</a>
          <br>
        </p>
        <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>

      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-5 col-md-offset-1">
        <br>
        <img class="featurette-image img-responsive img-thumbnail" src="/img/1.png" alt="Generic placeholder image">
      </div>
      <div class="col-md-5">
        <h2>Working Together</h2>
        <p class="lead">Seven hospital Trusts in South Yorkshire, Mid Yorkshire and North Derbyshire have formed a partnership called ‘Working Together’ to share best practice and improve patient care.</p>
        <p>Working together on a number of common issues will allow all the Trusts to deliver benefits that they would not achieve by working on their own. The aims of this innovative partnership are to strengthen each organisation’s ability to deliver safe, sustainable and local services to people in the most appropriate care setting.</p>
        <!-- <p><a class="btn btn-info btn-lg" href="/about">Find out more</a></p>   -->
      </div>
    </div>

    <hr class="feature">

    <div class="row featurette">
      <div class="col-md-5 col-md-offset-1">
        <h2>Programme goals</h2>
        <p class="lead">Together, these Trusts aim to meet commissioner intentions to improve the health and wellbeing of the people being served in the most efficient and effective way.</p>
        <p>They will also make collective efficiencies and savings where the potential exists to ensure that budgets are maximized for the NHS and benefit of local communities.</p>
        <!-- <p><a class="btn btn-info btn-lg" href="/about">Find out more</a></p> -->
        <br>
        <br>
      </div>
      <div class="col-md-5">
        <br>
        <img class="featurette-image img-responsive img-thumbnail" src="/img/1.png" alt="Generic placeholder image">
        <br>
      </div>
    </div>

    <div class="row featurette centered">

      <!--[if lt IE 9]>
        <div class="col-md-3 col-md-offset-1">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4">
        <!-- <![endif]-->
        <blockquote id="barnsleybrand" class="lighttext">
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery and efficiency in clinical and non-clinical areas. We have to consider and implement change if we are going to ensure we continue to provide our patients with high quality care, in the most appropriate location and as efficiently as possible.</p>
          <footer class="lighttext"><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>
      </div>

      <!--[if lt IE 9]>
        <div class="col-md-3">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4">
        <!-- <![endif]-->
        <blockquote id="barnsleybrand" class="lighttext">
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery and efficiency in clinical and non-clinical areas. We have to consider and implement change if we are going to ensure we continue to provide our patients with high quality care, in the most appropriate location and as efficiently as possible.</p>
          <footer class="lighttext"><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>
      </div>

      <!--[if lt IE 9]>
        <div class="col-md-3">
        <![endif]-->
      <!--[if !IE]> -->
      <div class="col-md-4">
        <!-- <![endif]-->
        <blockquote id="barnsleybrand" class="lighttext">
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery and efficiency in clinical and non-clinical areas. We have to consider and implement change if we are going to ensure we continue to provide our patients with high quality care, in the most appropriate location and as efficiently as possible.</p>
          <footer class="lighttext"><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>
      </div>

    </div>


  </div>

  <div class="row" id="sthbrand">
    <div class="container centered">
      <div class="backblock">
        <h1 class="lighttext">Get involved</h1>
        <p class="lead lighttext">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
        <p><a class="btn btn-shfchild btn-lg" role="button" href="/about">The programme team</a>  <a class="btn btn-shfchild btn-lg" role="button" href="/about">News and Newsletter</a>
        </p>
      </div>
    </div>
  </div>

 {{>footer}}