<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
   <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="csrf-token" content="IOjMO5pehjIkB78GQm1T3czkwUGxi3y5cw1dw=">
    <meta name="author" content="">
    <title>Home | Working Together</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--[if lt IE 8]>
    <link href="assets/bootstrap-ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- Javascript -->
 
</head>

<body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button><a href="/" class="navbar-brand">Working Together</a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a>
                        </li>
                   <li><a href="/about">About</a></li>
                      <li><a href="/contact">Contact</a>
                        </li>
                       <li><a href="/news">News</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      
      	<!-- +++++ Welcome Section +++++ -->
  <hr>
	<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="assets/img/user.png" alt="Stanley">
					<h1>Hi, I am Stanley!</h1>
					<p>Hello everybody. I'm Stanley, a free handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute & clean style.</p>
					<p>Please, consider to register to <a href="http://eepurl.com/IcgkX">our newsletter</a> to be updated with our latest themes and freebies. Like always, you can use this theme in any project freely. Share it with your friends.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
      
      
        <div class="container">
            <div id="flash"></div>
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.
                <br>All you get is this text and a mostly barebones HTML document.</p>
        </div>

    <div id="footer">
        <div class="container text-center">
            <div>© 2014 Company, Inc.</div>
            <div><strong>Hackathon Starter</strong> Project · Created by<a href="http://sahatyalkabov.com"> Sahat Yalkabov</a>
            </div>
            <div>Code licensed under&nbsp;<a href="http://opensource.org/licenses/mit-license.html">MIT License</a>
            </div>
            <div><a href="https://github.com/sahat/hackathon-starter">GitHub Project</a> ·&nbsp;<a href="https://github.com/sahat/hackathon-starter/issues">Issues</a>
            </div>
        </div>
    </div>
</body>

</html>