{{>header}}

<div class="row" id="sthbrand">
  <div class="container centered">
    <div class="backblock">
      <h1 class="lighttext">News and Information</h1>
      <p class="lead lighttext">Up to date information for the Working Together programme. The Working Together programme is a partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>

      <p>
        <br>
      </p>
    </div>
  </div>
</div>



	<!-- +++++ First Post +++++ -->
<div id="grey">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><!-- <img src="assets/img/user.png" width="50px" height="50px">--><ba>Consistency in Care</ba></p>
					<p><bd>18th May, 2014</bd></p>
					<h4>New Developments</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										<p><a href="#">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /grey -->
	
	<!-- +++++ Second Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><!-- <img src="assets/img/user.png" width="50px" height="50px">--> <ba>Informatics</ba></p>
					<p><bd>3rd May, 2014</bd></p>
					<h4>Changes to Services</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><a href="#">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
	
		<!-- +++++ First Post +++++ -->
<div id="grey">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><!-- <img src="assets/img/user.png" width="50px" height="50px">--><ba>Older Posts</ba></p>

					<h4>New Developments</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><a href="#">Continue Reading...</a></p>
					
					<h4>New Developments</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><a href="#">Continue Reading...</a></p>
					
					<h4>New Developments</h4>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p><a href="#">Continue Reading...</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /grey -->
	
	
	<div class="row" id="rotherhambrand">
  <div class="container centered">
    <div class="backblock">
      <h1 class="lighttext">Get involved</h1>
      <p class="lead lighttext">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
      <p><a class="btn btn-doncaster btn-lg" role="button" href="/about">News and Newsletter</a>
      </p>
    </div>
  </div>
</div>

{{>footer}}