{{>header}}

<!-- add in structure to the side! -->


<div class="container">
<h1>{{title}} | Programme Structure </h1>


    <div class="row">
    <div class="col-md-8">
      <p>The Spanish Peral Submarine was launched in 1888, and had 3 Schwarzkopf torpedoes 14 in (360 mm) and one torpedo tube in bow, new air systems, hull shape, propeller, and cruciform external controls anticipating much later designs. Peral was an all-electrical powered submarine.[11] After two years of trials the project was scrapped by naval officialdom who cited, among other reasons, concerns over the range permitted by its batteries.

The Gymnote was launched by the French Navy in the same year. Gymnote was also an electrically powered and fully functional military submarine. It completed over 2,000 successful dives using a 204-cell battery.[12] Although the Gymnote was scrapped for its limited range, its side hydroplanes became the standard for future submarine designs.</p>
    <p>
    <h3 class="centered">Programme Map</h3>
      <img class="" src="/img/structure_web.png" alt="...">
    </p>
    
    <p>The Spanish Peral Submarine was launched in 1888, and had 3 Schwarzkopf torpedoes 14 in (360 mm) and one torpedo tube in bow, new air systems, hull shape, propeller, and cruciform external controls anticipating much later designs. Peral was an all-electrical powered submarine.[11] After two years of trials the project was scrapped by naval officialdom who cited, among other reasons, concerns over the range permitted by its batteries.

The Gymnote was launched by the French Navy in the same year. Gymnote was also an electrically powered and fully functional military submarine. It completed over 2,000 successful dives using a 204-cell battery.[12] Although the Gymnote was scrapped for its limited range, its side hydroplanes became the standard for future submarine designs.</p>
    
      
      
    </div> <!-- Column -->
    </div> <!-- Row -->
















       <div class="container" id="tourpackages-carousel">
      <div class="row">
      
        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>
        
      </div><!-- End row -->
    </div><!-- End container -->
      
    <div class="container" id="tourpackages-carousel">
      <div class="row">
        
        <div class="col-xs-18 col-sm-6 col-md-3 col-md-offset-1">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="https://placehold.it/500x300" alt="">
              <div class="caption">
                <h4>Thumbnail label</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a></p>
            </div>
          </div>
        </div>

      </div><!-- End row -->
    </div><!-- End container -->
  
</div>

{{>footer}}