{{>header}}

<div class="row" id="chesterfieldbrand">
  <div class="container centered">
    <div class="backblock">
      <h1 id="whiteheading">{{title}}</h1>
      <p class="lead lighttext">Working Together is a partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>

      <p>
        <br>
      </p>
    </div>
  </div>
</div>


<div class="container">

    <div class="row">
    <div class="col-md-8"> <!-- Column to the left -->
    <h1 class="centered"> Programme Structure </h1>
    
    <p>
      Initially the Working
Together programme will be constructed around
4 interdependent themes, Sharing and Adopting
Good Practice, Developing a Sustainable Service
Configuration, Assuring Sustainable Service Quality
and creating a cross Trust care environment through
the deployment of Informatics. The overall aim is to
improve and sustain the quality of our clinical services
whilst also providing them more efficiently and
effectively and to do so together.
      
    </p>
      <p>The Spanish Peral Submarine was launched in 1888, and had 3 Schwarzkopf torpedoes 14 in (360 mm) and one torpedo tube in bow, 
      new air systems, hull shape, propeller, and cruciform external controls anticipating much later designs. 
      Peral was an all-electrical powered submarine.[11] After two years of trials the project was scrapped by naval officialdom who cited, 
      among other reasons, concerns over the range permitted by its batteries.</p>
    <p>
      <img class="hidden-xs" src="/img/structure_web_700.jpg" alt="...">
    </p>
    
    <p class="hidden-xs">
        The Spanish Peral Submarine was launched in 1888, and had 3 Schwarzkopf torpedoes 14 in (360 mm) and one torpedo tube in bow, 
        new air systems, hull shape, propeller, and cruciform external controls anticipating much later designs.
    </p>
    
    <h3>For more information</h3>
    
    <p>The workstream groups are just beginning to formulate their plans and further updates will be circulated at
regular intervals. For more information, or if you are interested in getting involved, please contact <a href="mailto:janettewatkins@nhs.net">Janette Watkins (Programme
Manager) via email</a> or by telephone on 01709 424 534.</p>
      
      
    <div class="row featurette centered">

      <div class="col-md-4">
        <blockquote id="barnsleybrand" class="lighttext">
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery.</p>
          <footer class="lighttext"><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>
      </div>
      
                  <div class="col-md-4">
        <blockquote id="chesterfieldbrand" class="lighttext">
          <p><em></em>It’s absolutely clear to me that the challenge of providing high-quality care within financial constraints can only be met by working with others.</p>
          <footer class="lighttext"><strong>Gavin Boyle</strong>, Chief Executive, Chesterfield Royal NHS Foundation Trust</footer>
        </blockquote>
      </div>
      
         <!--[if !IE]> -->
            <div class="col-md-4">
        <blockquote id="doncasterbrand" class="lighttext">
          <p><em></em>Working together is not just about clinical services, it is about sharing best practice and opportunities for improved service delivery.</p>
          <footer class="lighttext"><strong>Mike Pinkerton</strong>, Chief Executive Doncaster and Bassetlaw Hospitals NHS Foundation Trust</footer>
        </blockquote>
      </div>
      <!-- <![endif]-->
      </div>  
      
      
      
      
    </div> <!-- Column to the left -->
    
    <div class="col-md-3"> <!-- column to the right -->
    
    <h1 class="centered">Workstreams</h1>
    <p>There are currently
seven main workstreams in the Working Together programme: </p>
    
      <div>
          <ul class="media-list main-list">
          
           <li class="media lighttext blockpadding" id="chesterfieldbrand">
              <a class="media-heading lighttext" href="#">Specialty Collaborative Working</a>
              
            </li>
          
            <li class="media lighttext blockpadding" id="barnsleybrand">
              <a class="media-heading lighttext" href="#">Consistency in Care</a>
            </li>
            
           <li class="media lighttext blockpadding" id="midyorkbrand">
              <a class="media-heading lighttext" href="#">Specialised Services</a>
           </li>   
            
           <li class="media lighttext blockpadding" id="sheffchildbrand">
              <a class="media-heading lighttext" href="#">Sharing and adopting Good Practice</a>
            </li>
          
            <li class="media lighttext blockpadding" id="sthbrand">
              <a class="media-heading lighttext" href="#">Procurement</a>
            </li>
            
           <li class="media lighttext blockpadding" id="doncasterbrand">
              <a class="media-heading lighttext" href="#">Locums</a>
           </li>   
           
            <li class="media lighttext blockpadding" id="rotherhambrand">
              <a class="media-heading lighttext" href="#">Informatics</a>
           </li>     
           
          </ul>
        </div> <!-- end of coloured blocks -->
        
    <div id="newsbrand">
    <h1 class="centered">Latest News</h1>
    <p class="centered">
    Information on the Working Together programme and specific Workstream groups<br>
    <blockquote id="sthbrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    <blockquote id="rotherhambrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    <blockquote id="sheffchildbrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>
    <blockquote id="midyorkbrand" class="newsblock"><a href="/news" class="lighttext"><h4>Lead Title</h4>sample text summary of the article...</a></blockquote>

    </p>
    </div>
        
    </div> <!-- Column to the right -->
    
    
    
    </div> <!-- Row -->
















      
</div> <!-- dont delete me -->


<div class="row" id="doncasterbrand">
  <div class="container centered">
    <div class="backblock">
      <h1 class="lighttext">Learn more</h1>
      <p class="lead lighttext">A partnership to deliver high quality, efficient patient care for South Yorkshire, Mid Yorkshire and North Derbyshire</p>
      <p><a class="btn btn-shfchild btn-lg" role="button" href="/news">Find out more</a>
      </p>
    </div>
  </div>
</div>

{{>footer}}